name: Tag Main on Push

on:
  push:
    branches:
      - main

jobs:
  tag-main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PR_SECRET }}
          repository: ${{github.repository}}

      - name: Set up Git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - name: Get current date and time
        id: date
        run: echo "TAG_DATE=$(date +'%Y-%m-%d_%H-%M-%S')" >> $GITHUB_ENV
      - name: Create and push tag
        env:
          TAG_DATE: ${{ env.TAG_DATE }}
        run: |
          TAG="release-${TAG_DATE}"
          git tag -a "$TAG" -m "Automated tag for main at $TAG_DATE"
          git push origin "$TAG"
